{% extends 'base.html.twig' %}

{% block title %}
    {{ category.name }} {{ parent() }}
{% endblock %}

{% block body %}
{% for message in app.flashes('notice') %}
    <p>{{ message }}</p>
{% endfor %}


Категория товаров: {{ category.name }}<br>
Page: {{ page }}<br>

Наименования товаров:
{% for product in category.products %}
    <hr>
<a href="{{ path('product_show', {'id':product.id}) }}">
    {{ product.name }} - {{ product.price|number_format(2, '.', ' ') }}
</a>
<hr>
{% endfor %}

<a href="{{ path('category_message') }}">Add to cart</a>
{% endblock %}