{% extends 'base.html.twig' %}

{% block title %}
    {{ category.name }} {{ parent() }}
{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <p>{{ message }}</p>
    {% endfor %}
    <div class="col-xs-12 col-sm-4 col-md-3">
        Категория товаров: {{ category.name }}<br>
        Page: {{ page }}<br>
        Наименования товаров:
    </div>
    <div class="row">
            {% include 'partials/products.html.twig' with {'products': category.products} %}

    </div>



{% endblock %}