{% extends 'base.html.twig' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block body %}
<h1>Описание товара {{ product.name }}</h1>

{{ product.name }} <br>
    {{ product.price }} <br>
    {{ product.description }} <br>
{% endblock %}